venv/
.env
*.env
/.venv
/.idea
__pycache__
__pycache__/
*.pyc
logs/
*.log
secrets/
config/
config.py
config/*.yaml
config/*.yml
price_update.csv
sale.xlsx
price_update*.xlsx
# ігноруємо всі прайси
price/current/*
price/previous/*

# але не ігноруємо тестові
!price/current/*_test.*
!price/previous/*_test.*