/.venv
/.idea
__pycache__
config.py
price_update.csv
sale.xlsx
price_update*.xlsx
price/*
price/adrenalin.xml
price/atlantmarket.xml
price/dasmart.xml
price/dospehi.xml
price/kemping.xls
price/norfin.xls
price/outfitter.xlsx
price/shambala.xls
price/swa.xlsx
price/tramp.xlsx

